<!doctype html>
<html lang=de>
    <head>
        <title>Wohnungsansicht</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <style>
             

        </style>
    </head>

    <body>
        <header class="custom-header">
            <div id="header">
              <div id="websitename">Wohnungstausch</div>
                <div id ="unternehmensname">by Wohnungstausch SE</div>
              <button id="login-button">Login</button>
            </div>
          </header>

        <main>
            <H2>Wohnungen inserieren</H2>
            <p>Ort: <input type="text" placeholder="Ort"></p>
            <p>Quadratmeter: <input type="text" placeholder="Quadratmeter"></p>
            <p>Zimmeranzahl: <input type="text" placeholder="Zimmeranzahl"></p>
            <p>Etage: <input type="text" placeholder="Etage"></p>
            <p>Miete pro Monat: <input type="text" placeholder="Miete pro Monat"></p>
            <p>Fahrstuhl vorhanden? <input type="checkbox"></p>
            <p>Balkon vorhanden? <input type="checkbox"></p>
            <p>Barrierefreiheit? <input type="checkbox"></p>

            <p>Bilder hochladen <button>Durchsuchen</button></p>

            <button class="inserieren-button">Inserieren</button>
        </main>

        <footer>
            <hr>
            <p>Impressum </p>
            <p>Kontakt</p>
            <p>usw.</p>
        </footer>
    </body>
</html>
