<!doctype html>
<html lang=de>
    <head>
        <title>Wohnungsansicht</title>
    </head>

    <body>
        <header>
            <H1>Wohnungstausch</H1>
            <p>by Wohnungstausch SE</p>
            <button>Ausloggen</button> 
            <hr>     
        </header>

        <main>
            <H2>Wohnungen inserieren</H2>
            <p>Ort: <input type="text" placeholder="Ort"></p>
            <p>Quadratmeter: <input type="text" placeholder="Quadratmeter"></p>
            <p>Zimmeranzahl: <input type="text" placeholder="Zimmeranzahl"></p>
            <p>Etage: <input type="text" placeholder="Etage"></p>
            <p>Miete pro Monat: <input type="text" placeholder="Miete pro Monat"></p>
            <p>Fahrstuhl vorhanden? <input type="checkbox"></p>
            <p>Balkon vorhanden? <input type="checkbox"></p>
            <p>Barrierefreiheit? <input type="checkbox"></p>

            <p>Bilder hochladen <button>Durchsuchen</button></p>

            <button>Inserieren</button>
        </main>

        <footer>
            <hr>
            <p>Impressum </p>
            <p>Kontakt</p>
            <p>usw.</p>
        </footer>
    </body>
</html>
