<!doctype html>
<html lang=de>
    <head>
        <title>Wohnungstausch-Login</title>
    </head>
    <body>
        <header>
            <H1>Wohnungstausch</H1>
            <p>by Wohnungstausch SE</p> 
            <hr>     
        </header>

        <main>
            <H2>Login</H2>
            <p>E-Mail</p>
            <input type="text" placeholder="Ihre E-Mail Adresse">
            <p>Passwort</p>
            <input type="text" placeholder="Ihr Passwort">
            <button>Login</button>
        </main>

        <footer>
            <hr>
            <p>Falls Sie sich registrieren wollen, klicken Sie hier </p>
        </footer>
    </body>
</html>
