<!doctype html>
<html lang=de>
    <head>
      <link rel="stylesheet" type="text/css" href="style.css">
        <title>Wohnungstausch-Login</title>
        <style>
          
          .custom-header #login-button {
            display: none;
          }
        </style>
    </head>


    <body>
        <header class="custom-header">
          <div id="header">
            <div id="websitename">Wohnungstausch</div>
              <div id ="unternehmensname">by Wohnungstausch SE</div>
            <button id="login-button">Login</button>
          </div>    
        </header>

        <main>
            <H2>Login</H2>
            <p>E-Mail</p>
            <input type="text" placeholder="Ihre E-Mail Adresse">
            <p>Passwort</p>
            <input type="text" placeholder="Ihr Passwort">
            <button>Login</button>
        </main>

        <footer>
            <hr>
            <p>Falls Sie sich registrieren wollen, klicken Sie hier </p>
        </footer>
    </body>
</html>
