<!doctype html>
<html lang=de>
    <head>
      
        <title>Wohnungstausch-Registrierung</title>
        <style>
            .buttons-container {
              display: flex;
            }
        </style>

      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
      <header class="custom-header">
        <div id="header">
          <div id="websitename">Wohnungstausch</div>
            <div id ="unternehmensname">by Wohnungstausch SE</div>
          <button id="login-button">Login</button>
        </div>   
      </header>

        <main>
            <H2>Registrierung</H2>
            <p>E-Mail</p>
            <input type="text" placeholder="Ihre E-Mail Adresse">
            <p>Passwort</p>
            <input type="text" placeholder="Ihr Passwort">
            <p>Passwort bestätigen</p>
            <input type="text" placeholder="Passwort bestätigen">
            <div class="buttons-container">
              <button style="margin-right: 10px;">Abbrechen</button>
              <button style="margin-right: 10px;">Bestätigen</button>
            </div>
        </main>

        <footer>
            <hr>
            <p>Falls Sie bereits einen Account haben,klicken Sie hier </p>
        </footer>
    </body>
</html>
