<!doctype html>
<html lang=de>
    <head>
        <title>Wohnungstausch-Registrierung</title>
    </head>
    <body>
        <header>
            <H1>Wohnungstausch</H1>
            <p>by Wohnungstausch SE</p> 
            <hr>     
        </header>

        <main>
            <H2>Registrierung</H2>
            <p>E-Mail</p>
            <input type="text" placeholder="Ihre E-Mail Adresse">
            <p>Passwort</p>
            <input type="text" placeholder="Ihr Passwort">
            <p>Passwort bestätigen</p>
            <input type="text" placeholder="Passwort bestätigen">
            <button>Abbrechen</button>
            <button>Bestätigen</button>
        </main>

        <footer>
            <hr>
            <p>Falls Sie bereits einen Account haben,klicken Sie hier </p>
        </footer>
    </body>
</html>
