<!doctype html>
<html lang=de>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Wohnungsansicht</title>
    </head>

    <body>
        <header class="custom-header">
            <div id="header">
              <div id="websitename">Wohnungstausch</div>
                <div id ="unternehmensname">by Wohnungstausch SE</div>
              <button id="login-button">Login</button>
            </div>
          </header>

        <main>
            <H2>Wohnungen ansehen</H2>
            <div>
                <p>string zimmerAnz</p>
                <p>string fahrstuhl</p>
                <p>string miete</p>
                <p>string bezirk</p>
                <p>string m^2</p>
                <p>string balkon</p>
                <p>string barrierefreiheit</p>
                <p>string dachboden/keller</p>
            </div>
            
            <div>
                <p>string zimmerAnz</p>
                <p>string fahrstuhl</p>
                <p>string miete</p>
                <p>string bezirk</p>
                <p>string m^2</p>
                <p>string balkon</p>
                <p>string barrierefreiheit</p>
                <p>string dachboden/keller</p>
            </div>
        </main>

        <footer>
            <hr>
            <p>Impressum </p>
            <p>Kontakt</p>
            <p>usw.</p>
        </footer>
    </body>
</html>
