<!doctype html>
<html lang=de>
    <head>
        <title>Wohnungsansicht</title>
    </head>

    <body>
        <header>
            <H1>Wohnungstausch</H1>
            <p>by Wohnungstausch SE</p>
            <button>Registrierung</button>
            <button>Login</button> 
            <hr>     
        </header>

        <main>
            <H2>Wohnungen ansehen</H2>
            <div>
                <p>string zimmerAnz</p>
                <p>string fahrstuhl</p>
                <p>string miete</p>
                <p>string bezirk</p>
                <p>string m^2</p>
                <p>string balkon</p>
                <p>string barrierefreiheit</p>
                <p>string dachboden/keller</p>
            </div>
            
            <div>
                <p>string zimmerAnz</p>
                <p>string fahrstuhl</p>
                <p>string miete</p>
                <p>string bezirk</p>
                <p>string m^2</p>
                <p>string balkon</p>
                <p>string barrierefreiheit</p>
                <p>string dachboden/keller</p>
            </div>
        </main>

        <footer>
            <hr>
            <p>Impressum </p>
            <p>Kontakt</p>
            <p>usw.</p>
        </footer>
    </body>
</html>
